name: Create resources
on:
  push:
    branches:
      - main
    paths:
      - 'terraform/**'

permissions:
  id-token: write
  contents: read

jobs:
  terraform:
    runs-on: ubuntu-latest
    steps:
      - name: checkout the code
        uses: actions/checkout@v4
      
      - name: setup terraform 
        uses: hashicorp/setup-terraform@v3
        with:
          terraform_version: 1.7.0
      
      - name: Configure AWS credentials
        uses: aws-actions/configure-aws-credentials@v5
        with:
          role-to-assume: arn:aws:iam::679217508170:role/terraform-aws-role
          aws-region: us-east-1
      
      - name: terraform init
        run: terraform init -input=false
        working-directory: terraform

      - name: terraform plan
        run: terraform plan
        working-directory: terraform

      - name: terraform apply
        run: terraform apply --auto-approve
        working-directory: terraform